<?xmln version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Inertial macros -->
    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <origin xyz="0.0 0.0 0.0"/>
            <mass value="${mass}" />
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
        </inertial>
    </xacro:macro>
</robot>
