<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="marvin">
   
    <xacro:include filename="marvin_skid.gazebo"/>
    <xacro:include filename="caster.xacro"/>
    <xacro:include filename="chassis.xacro"/>
    <xacro:include filename="wheel.xacro"/>
    <xacro:include filename="inertials.xacro"/>
    <xacro:include filename="colours.xacro"/>

    <xacro:shoulder prefix="right" suffix="front" reflect_y="-1"/>
    <xacro:shoulder prefix="left" suffix="front" reflect_y="1"/>
    <xacro:caster prefix="right" suffix="front" reflect_x="1" reflect_y="-1" turn="True"/>
    <xacro:caster prefix="left" suffix="front" reflect_x="1" reflect_y="1" turn="True"/>
    <xacro:caster prefix="right" suffix="back" reflect_x="-1" reflect_y="-1" turn="False"/>
    <xacro:caster prefix="left" suffix="back" reflect_x="-1" reflect_y="1" turn="False"/>
</robot>
