<?xml version="1.0"?>
<launch>
  <arg name="use_rviz" default="false"/>
  <arg name="use_joint_gui" default="true"/>
  <arg name="use_static_tf" default="true"/>
  <arg name="use_robot_pub" default="true"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher"
      type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_joint_gui)"/>
    <rosparam param="source_list">
      ["marvin/joint_states",
       "marvin/front_right/joint_states",
       "marvin/front_left/joint_states",
       "marvin/back_left/joint_states",
       "marvin/back_right/joint_states",
       "steer_joint_states"]
    </rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher"
      if="$(arg use_robot_pub)"/>

  <node name="rviz" pkg="rviz" type="rviz"
      if="$(arg use_rviz)"
      args="-d $(find marvin_ackermann_description)/config/marvin.rviz"/>

  <node if="$(arg use_static_tf)"
      pkg="tf" type="static_transform_publisher" name="static_transform_publisher"
      args="0 0 0.2 0 0 0 map base_link 30"/>

</launch>
